<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>tests</title>
</head>
<body>
TEST CORS
<h3><a id="loginBtn">LOGIN</a></h3>

<script>
    const url = 'http://localhost:8080/api/v1/token/make';
    const loginBtn = document.getElementById("loginBtn");

    loginBtn.addEventListener('click', () => {
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ "mid" : "user99", "mpw" : "1111" })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Login successful:', data);
                localStorage.setItem('accessToken',
                    data.accessToken);
                alert('로그인 성공');
            })
            .catch(error => {
                console.error('fetch() 실패 :', error);
                alert('로그인 실패 - 다시 시도해주세요.');
            });
    });
</script>
</body>
</html>